@import 'header';
@import 'footer';
@import 'colours';

body{
	margin:0;
	color: $zambezi;
	font-size:16px;
}

a{
	color:$coralTree;

	&:hover{
		color: $zambezi;
	}
}

h1 {
	font-size:32px;
	margin:20px 0;
}

.layout-container{
	max-width:1180px;
	margin:0 auto;
}
