<footer>
	<div class="footer-background">
		<div class="footer-container layout-container">
			<div class="footer-section">
				<div class="footer-section-title">Title 1</div>	
				<div class="footer-section-content">
					<a href="">Link 1</a>
					<a href="">Link 2</a>
					<a href="">Link 3</a>
				</div>
			</div>
			<div class="footer-section">
				<div class="footer-section-title">Title 2</div>	
				<div class="footer-section-content">
					<a href="">Link 1</a>
					<a href="">Link 2</a>
					<a href="">Link 3</a>
				</div>
			</div>
			<div class="footer-section">
				<div class="footer-section-title">Title 3</div>	
				<div class="footer-section-content">
					<a href="">Link 1</a>
					<a href="">Link 2</a>
					<a href="">Link 3</a>
				</div>
			</div>
			<div class="footer-section">
				<div class="footer-section-title">Title 4</div>	
				<div class="footer-section-content">
					<a href="">Link 1</a>
					<a href="">Link 2</a>
					<a href="">Link 3</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<footer>
	<div class="sub-footer-background">
		<div class="sub-footer-container layout-container">
			&copy; William Ward {{ "now"|date("Y") }}
		</div>
	</div>
</footer>
