<footer>
	<div class="footer">
		<div class="footer-container layout-container">
			<div class="footer-section">
				<div class="footer-section-title">Title 1</div>	
				<ul class="footer-section-list">
					<li class="footer-section-list__item"><a href="#" class="footer-section-list__link">Link 2</a></li>
					<li class="footer-section-list__item"><a href="#"class="footer-section-list__link" >Link 1</a></li>
					<li class="footer-section-list__item"><a href="#" class="footer-section-list__link">Link 3</a></li>
				</ul>
			</div>
			<div class="footer-section">
				<div class="footer-section-title">Title 2</div>	
				<ul class="footer-section-list">
					<li class="footer-section-list__item"><a href="#" class="footer-section-list__link">Link 2</a></li>
					<li class="footer-section-list__item"><a href="#"class="footer-section-list__link" >Link 1</a></li>
					<li class="footer-section-list__item"><a href="#" class="footer-section-list__link">Link 3</a></li>
				</ul>
			</div>
			<div class="footer-section">
				<div class="footer-section-title">Title 3</div>	
				<ul class="footer-section-list">
					<li class="footer-section-list__item"><a href="#" class="footer-section-list__link">Link 2</a></li>
					<li class="footer-section-list__item"><a href="#"class="footer-section-list__link" >Link 1</a></li>
					<li class="footer-section-list__item"><a href="#" class="footer-section-list__link">Link 3</a></li>
				</ul>
			</div>
			<div class="footer-section">
				<div class="footer-section-title">Title 4</div>	
				<ul class="footer-section-list">
					<li class="footer-section-list__item"><a href="#" class="footer-section-list__link">Link 2</a></li>
					<li class="footer-section-list__item"><a href="#"class="footer-section-list__link" >Link 1</a></li>
					<li class="footer-section-list__item"><a href="#" class="footer-section-list__link">Link 3</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<footer>
	<div class="sub-footer">
		<div class="sub-footer-container layout-container">
			&copy; William Ward {{ "now"|date("Y") }}
		</div>
	</div>
</footer>
