<header>
	<div class="header-background">
		<div class='header-container layout-container'>
			<div class="header-logo">
				LOGO
			</div>
			<div class="header-links">
				{% for page in menuPages %}
					<a href="{{path(page.route)}}">{{page.title}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</header>
